
.yuicalendar-wrapper {
  margin-top: 1em;
  margin-bottom: 1em;
}

.yuicalendar-icon {
  cursor: pointer;
  width: 16px;
  height: 16px;
  margin: 0 6px 0 0;
  padding: 0;
  border: 0;
  background: transparent url(calendar.png) no-repeat center top;
  display: inline;
}

.yui-calcontainer {
	position: relative;
	background-image: none;
  z-index: 999999999;
}

.yui-calcontainer table {
	position: relative;
	background-image: none;
  z-index: 999999999;
  width: auto;
}

div.yuicalendar-date, .yuicalendar-date .form-item {
  display: inline;
  width: 14em;
}

.yuicalendar-date-initialized {
  display: none;
}

.yuicalendar-date .form-item input {
  width: auto;
  display: inline;
}

.yui-skin-sam .yui-ac {
  position: absolute;
  margin-top: 0;
}

html.js fieldset.collapsible {
  position: inherit;
}

html.js fieldset.collapsible .fieldset-wrapper {
  overflow: inherit;
}

.yui-form-slider-widget {
	width: 200px;
	height: 10px;
	background-color: white;
	border: 1px solid black;
}

.yui-form-slider-widget .yui-form-slider-handle {
  width: 10px;
  height: 10px;
  background-color: black;
}

.yui-form-calendar .form-item {
	float: left;
}
.yui-form-calendar-show {
	width: 16px;
	height: 16px;
	background-color: transparent;
	background-image: url(calendar.png);
	cursor: pointer;
	float: left;
}